<div class="container-fluid">
  <div class="aboutBlocks">
    <h1 class="aboutHeadings">Abstract</h1>
    <h1>
      <img class="img-responsive" style="width:60%" alt="Abstract" src="../assets/img/Abstract.png">
    </h1>
  </div>
  <div class="aboutBlocks">
      <h1 class="aboutHeadings">Notifications Importance</h1>
    <h1>
      <img class="img-responsive" style="width:60%" alt="Why Notifications" src="../assets/img/Why Notifications.png">
    </h1>
  </div>
  <div class="aboutBlocks">
      <h1 class="aboutHeadings">Notification Scenarios</h1>
    <h1>
      <img class="img-responsive" style="width:60%" alt="Notification Scenarios" src="../assets/img/Notification Scenarios.png">
    </h1>
  </div>
  <div class="aboutBlocks">
      <h1 class="aboutHeadings">Notification Types</h1>
    <h1>
      <img class="img-responsive" style="width:60%" alt="Notification Types" src="../assets/img/Notification Types.png">
    </h1>
  </div>
</div>
