<div class="top-bar">
  <div class="container">
    <div class="row d-flex align-items-left">
      <div class="col-md-6 d-md-block pl-0">
        <div class="d-flex justify-content-md-start justify-content-between">
          <ul class="list-inline contact-info d-block d-md-none">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-phone"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
          </ul>
          <div class="login">
            <a routerLink="/login" data-toggle="modal" data-target="#login-modal" class="login-btn">
              <i class="fa fa-sign-in"></i>
              <span class="d-none d-md-inline-block">Sign In</span>
            </a>
            <a routerLink="/register" class="signup-btn">
              <i class="fa fa-user"></i>
              <span class="d-none d-md-inline-block">Sign Up</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-md-block">
        <div id="search" class="clearfix float-right">
          <div class="btn-group show-on-hover">
            <a (mouseover)="getAllMessages($event)">
              <img src="../../assets/icons/bell/ffa500-bell-32.ico" alt="Notifications" class="d-none d-md-inline-block dropdown-toggle"
              data-toggle="dropdown" [ngClass]="msgUnread ? 'shake' : 'grayscale'">
            </a>

            <ul class="dropdown-menu" role="menu">
              <li *ngFor="let msg of messages" [ngClass]="msg.read ? 'read' : 'unread'">
                  <a href="/#/messages/{{msg._id}}">{{msg.title}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>